.progress-bar {
    margin-top: 20px;
    width: 400px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.progress-bar > .progress {
    background-color: red;
    border-radius: 20px;
    width: 0%;
    text-align: center;
}

.content {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}

.content > .loader {
    position: absolute;
    font-size: 44px;
    color: white;
    background-color: black;
    opacity: 0.4;
    height: calc(100vh - 50px);
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.content > .loader > p {
    opacity: 1;
}

.test-image {
    max-height: 70vh;
    max-width: 70vw;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result > img {
    margin: 0 10px;
    box-shadow: 15px 10px 10px #A9A9A9;
}
